<aside>
	<div class="sidebar_wrap">
		<h4>Iron Legacy</h4>
		<h5 class="small">US-Emerald Dream-Alliance</h5>

		<p>Character Name: <%= @number %></p>

		<h6 class="recruitment_header">We are Recruiting</h6>
		<div class="recruitment">
			<!-- Deathknight -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/dk-resize-compressor.png",  :class => 'classicon') %>
					<!-- <h6>Deathknight</h6> -->
					<div class="images">
						<%= image_tag("classicons/DK_Blood.jpg") %>
						<%= image_tag("classicons/DK_Frost.jpg") %>
						<%= image_tag("classicons/DK_Unholy.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Druid -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/druid-resize-compressor.png",  :class => 'classicon druid') %>
					<div class="images">
						<%= image_tag("classicons/Druid_Balance.jpg") %>
						<%= image_tag("classicons/Druid_Feral.jpg") %>
						<%= image_tag("classicons/Druid_Restoration.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Hunter -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/hunter-resize-compressor.png",  :class => 'classicon') %>

					<div class="images">
						<%= image_tag("classicons/Hunter_Mark.jpg") %>
						<%= image_tag("classicons/Hunter_Surv.jpg") %>
						<%= image_tag("classicons/Hunter_BM.jpg", :class=> 'inactive') %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Mage -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/mage-resize-compressor.png",  :class => 'classicon') %>
					<div class="images">
						<%= image_tag("classicons/Mage_Arcane.jpg", :class=> 'inactive') %>
						<%= image_tag("classicons/Mage_Fire.jpg", :class=> 'inactive') %>
						<%= image_tag("classicons/Mage_Frost.jpg", :class=> 'inactive') %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Monk -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/monk-resize-compressor.png",  :class => 'classicon') %>
					<div class="images">
						<%= image_tag("classicons/Monk_BM.jpg") %>
						<%= image_tag("classicons/Monk_MW.jpg") %>
						<%= image_tag("classicons/Monk_WW.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Paladin -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/paladin-resize-compressor.png",  :class => 'classicon') %>

					<div class="images">
						<%= image_tag("classicons/Paladin_Holy.jpg") %>
						<%= image_tag("classicons/Paladin_Prot.jpg", :class=> 'inactive') %>
						<%= image_tag("classicons/Paladin_Ret.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Priest -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/priest-resize-compressor.png",  :class => 'classicon') %>
					<div class="images">
						<%= image_tag("classicons/Priest_Disc.jpg", :class=> 'inactive') %>
						<%= image_tag("classicons/Priest_Holy.jpg", :class=> 'inactive') %>
						<%= image_tag("classicons/Priest_Shadow.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Rogue -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/rogue-resize-compressor.png",  :class => 'classicon') %>
					<div class="images">
						<%= image_tag("classicons/Rogue_Ass.jpg") %>
						<%= image_tag("classicons/Rogue_Com.jpg") %>
						<%= image_tag("classicons/Rogue_Sub.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Shaman -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/shaman-resize-compressor.png",  :class => 'classicon') %>

					<div class="images">
						<%= image_tag("classicons/Shaman_Ele.jpg") %>
						<%= image_tag("classicons/Shaman_Enhance.jpg") %>
						<%= image_tag("classicons/Shaman_Resto.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Warlock -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/warlock-resize-compressor.png",  :class => 'classicon') %>
					<div class="images">
						<%= image_tag("classicons/Warlock_Aff.jpg") %>
						<%= image_tag("classicons/Warlock_Demo.jpg") %>
						<%= image_tag("classicons/Warlock_Destro.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Warrior -->
			<a href="" class="class_square">
				<div class="content">
					<%= image_tag("classicons/warrior-resize-compressor.png",  :class => 'classicon') %>

					<div class="images">
						<%= image_tag("classicons/Warrior_Arms.jpg") %>
						<%= image_tag("classicons/Warrior_Fury.jpg") %>
						<%= image_tag("classicons/Warrior_Prot.jpg") %>
					</div>
				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
			<!-- Last Square -->
			<a href="" class="class_square">
				<div class="content">
					<p>Learn more<br>Here</p>


				</div>
				<div class="overlay">
					<p>Apply</p>
				</div>
			</a>
		</div>
		<a href="/forums/applications" class="apply">Apply</a>
	</div>
</aside>