<%= form_for(@news) do |f| %>
<span class="news_form">
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Video Embed (Youtube Link)" %><br>
    <%= f.text_field :youtube_embed %>
  </div>

  <div class="field">
    <%= f.label "Image Embed (Imgur Link)" %><br>
    <%= f.text_field :image_embed %>
  </div>

  <div class="preview_wrapper">
  <div class="field">
  <%= f.label :content, "Content (#{link_to 'Markdown', main_app.root_path} Enabled)".html_safe %>
  <%= f.label :text, "Toggle Live Preview".html_safe, :id =>"MarkdownToggle", :class => "markdowntoggle" %>
  </div>
</div>
<div class="preview_wrapper">
  <div class="field">
      <%= f.text_area :content %>
  </div>
</div>
<div class="preview_wrapper">
  <div class="field">
      <label id="PreviewToggle" class="markdowntoggle">Preview</label>
  </div>
</div>
  <div class="actions">
    <span class="update"><%= f.submit :class => "submit" %></span>
  </div>
  </span>
<% end %>
