<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <h2 class="edit_h2">Choose to Embed either Youtube or Imgur, not both!</h2>

  <div class="field">
    <%= f.label "Video Embed (Youtube Link)" %><br>
    <%= f.text_field :youtube_embed %>
  </div>

  <div class="field">
    <%= f.label "Image Embed (Imgur Link)" %><br>
    <%= f.text_field :image_embed %>
  </div>

  <h2 class="edit_h2">Post Content</h2>

  <div class="field">
    <%= f.label :content, "Content (Markdown Enabled)" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <span class="update"><%= f.submit :class => "submit" %></span>
  </div>
<% end %>
