<%= simple_form_for [forem, @forum, @topic] do |f| %>
<!--   <%= f.input :subject, :class => "field" %> -->
  <div class="field">
    <%= f.label "Subject" %><br />
    <%= f.text_field :subject, autofocus: true %>
  </div>

  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
  <% end %>
  
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
