<section class="area news-section">
  <div class="wrap">
    <% @news.each do |news| %>
      <div class="post">
      <% if news.image_embed != '' %>
        <a class="embedly-card" data-card-theme="dark" href="<%= news.image_embed %>"></a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      <% end %>
      <h1><%= news.title %></h1>
      <p><%= news.created_at.strftime("Created %B %d, %Y.") %></p>
      <p><%= news.content %></p>
      <% if current_user.try(:admin?) %>
      <h4>Controls</h4>
      <div class="controls"><%= link_to 'Edit', edit_news_path(news) %><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<% if current_user.try(:admin?) %>
<%= link_to '', new_news_path, :class => "floating tooltipped hint--top" %>
<% end %>