<section class="area news-section">
  <div class="wrap">
    <% @news.each do |news| %>
    <div class="post">
      <h1 style="text-align:center"><%= news.title %></h1>
      <p style="text-align:center"><%= news.created_at.strftime("Posted %B %d, %Y at ") + news.created_at.strftime('%T ') %><a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx">UTC</a></p>
      <% if news.youtube_embed %>
        <% if news.youtube_embed != "" %>
        <div class="flex">
        <iframe style="margin:auto" src="<%= news.youtube_embed.sub('https://www.youtube.com/watch?v=', '//www.youtube.com/embed/') %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <% end %>
      <% end %>
      <% if news.image_embed%>
        <% if news.image_embed != "" %>
        <a class="embedly-card" data-card-theme="dark" href="<%= news.image_embed %>"></a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      <% end %>
      <% end %>
      <p><%= news.content %></p>
      <% if current_user.try(:admin?) %>
      <h4>Controls</h4>
      <div class="controls"><%= link_to 'Edit', edit_news_path(news) %><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<% if current_user.try(:admin?) %>
<%= link_to '', new_news_path, :class => "floating tooltipped hint--top" %>
<% end %>