<span class="news">

  <% if current_user.try(:admin?) %>
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_news_path, :class => "create" %>
  <% end %>

    <% @news.each do |news| %>
   <div class="news_post">
      <div class="post-header">
        <h1><%= news.title %></h1>
        <p style="text-align:center"><%= news.created_at.strftime("Posted %B %d, %Y at ") + news.created_at.strftime('%T ') %><a target="_blank" href="http://www.worldtimeserver.com/current_time_in_UTC.aspx">UTC</a></p>
        <% if current_user.try(:admin?) %>
          <p style="text-align:center"><%= link_to 'Edit', edit_news_path(news) %> | <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %><p>
        <% end %>
      </div>
        <div class="post_content">
         <% if news.youtube_embed %>
            <% if news.youtube_embed != "" %>
              <iframe style="margin:auto" src="<%= news.youtube_embed.sub('https://www.youtube.com/watch?v=', '//www.youtube.com/embed/') %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
         <% end %>
         <%= markdown(news.content) %>
         </div>
      </div>
    </div>
    <% end %>
</span>