<header>
	<a class="ironlegacy" href="/"><%= image_tag("legacy2.svg") %><p class="logo">Iron Legacy</p></a>
	<ul class="login">
		<% if user_signed_in? %>
			<span class="username"><%= current_user.username %></span>
        	<span><%= link_to "", main_app.edit_user_registration_path, :class => 'setting fa fa-cog' %></span>
        	<span><%= link_to "", main_app.destroy_user_session_path, method: :delete, :class => 'setting fa fa-sign-out' %></span>
		<% else %>
			<%= link_to "<li>Login</li>".html_safe, main_app.new_user_session_path %>
			<%= link_to "<li class='apply'>Apply</li>".html_safe, main_app.new_user_registration_path %>
		<% end %>
	</ul>
	<a href="#" class="trigger"><i class="fa fa-bars"></i></a>
</header>