<nav>
	<div class="navcontent">
		<ul class="user">
			<% if user_signed_in? %>
	        	<%= link_to "<li>".html_safe+current_user.username+"</li>".html_safe, main_app.edit_user_registration_path %>
	        	<%= link_to "<li class='logout'>Logout</li>".html_safe, main_app.destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "<li>Login</li>".html_safe, main_app.new_user_session_path %>
				<%= link_to "<li class='apply'>Apply</li>".html_safe, main_app.new_user_registration_path %>
			<% end %>
		</ul>
		<ul>
			<%= link_to "<li><p>Home</p></li>".html_safe, main_app.root_path %>
			<%= link_to "<li><p>Forum</p></li>".html_safe, main_app.forem_path %>
			<%= link_to "<li><p>Archive</p></li>".html_safe, main_app.archive_index_path %>
		</ul>
		<h4>Resources</h4>
		<ul>
			<a href="http://www.twitch.tv/lolgrubs" target="_blank"><li><p>Live Streams</p></li></a>
			<%#= link_to "<li><p>Application Template</p></li>".html_safe, main_app.applicationtemplate_index_path %>
			<%#= link_to "<li><p>Formatting Guide</p></li>".html_safe, main_app.root_path %>
			<%#= link_to "<li><p>Guild Roster</p></li>".html_safe, main_app.root_path %>
			<a href="https://www.warcraftlogs.com/guilds/20002/" target="_blank"><li><p>Warcraft Logs</p></li></a>
		</ul>
		<h4>Information</h4>
		<ul>
			<%= link_to "<li><p>About Us</p></li>".html_safe, main_app.aboutus_show_path %>
			<%#= link_to "<li><p>Communities</p></li>".html_safe, main_app.root_path %>
			<%#= link_to "<li><p>Recruitment</p></li>".html_safe, main_app.recruitment_show_path %>
			<%#= link_to "<li><p>Contact</p></li>".html_safe, main_app.root_path %>
		</ul>
	</div>
</nav