<div class="wrap">
	<h1>Iron Legacy</h1>
	<h4>US-Emerald Dream-Alliance</h4>
	<h5>Tues/Wed/Thurs 9pm-1am EST</h5>
	<h5>We are currently accepting applications for our Raid Team</h5>

	<ul class="recruitment">
		<li><p style="color:#FF3232">DeathKnight<p><p><%= image_tag("classicons/DK_Blood.jpg") %><%= image_tag("classicons/DK_Frost.jpg") %><%= image_tag("classicons/DK_Unholy.jpg") %><p></li>
		<li><p style="color:#ff8315">Druid<p><p><%= image_tag("classicons/Druid_Balance.jpg") %><%= image_tag("classicons/Druid_Feral.jpg") %><%= image_tag("classicons/Druid_Restoration.jpg") %><p></li>
		<li><p style="color:#a3d461">Hunter<p><p><%= image_tag("classicons/Hunter_BM.jpg", class: "inactive") %><%= image_tag("classicons/Hunter_Mark.jpg") %><%= image_tag("classicons/Hunter_Surv.jpg") %><p></li>
		<li><p style="color:#2ea7d2">Mage<p><p><%= image_tag("classicons/Mage_Arcane.jpg", class: "inactive") %><%= image_tag("classicons/Mage_Fire.jpg", class: "inactive") %><%= image_tag("classicons/Mage_Frost.jpg", class: "inactive") %><p></li>
		<li><p style="color:#008467">Monk<p><p><%= image_tag("classicons/Monk_BM.jpg") %><%= image_tag("classicons/Monk_MW.jpg") %><%= image_tag("classicons/Monk_WW.jpg") %><p></li>
		<li><p style="color:#de86ae">Paladin<p><p><%= image_tag("classicons/Paladin_Holy.jpg") %><%= image_tag("classicons/Paladin_Prot.jpg", class: "inactive") %><%= image_tag("classicons/Paladin_Ret.jpg") %><p></li>
		<li><p style="color:#FFFFFF">Priest<p><p><%= image_tag("classicons/Priest_Disc.jpg") %><%= image_tag("classicons/Priest_Holy.jpg", class: "inactive") %><%= image_tag("classicons/Priest_Shadow.jpg") %><p></li>
		<li><p style="color:#d4cb40">Rogue<p><p><%= image_tag("classicons/Rogue_Ass.jpg") %><%= image_tag("classicons/Rogue_Com.jpg") %><%= image_tag("classicons/Rogue_Sub.jpg") %><p></li>
		<li><p style="color:#016dd9">Shaman<p><p><%= image_tag("classicons/Shaman_Resto.jpg") %><%= image_tag("classicons/Shaman_Enhance.jpg") %><%= image_tag("classicons/Shaman_Ele.jpg") %><p></li>
		<li><p style="color:#8a7abb">Warlock<p><p><%= image_tag("classicons/Warlock_Aff.jpg") %><%= image_tag("classicons/Warlock_Demo.jpg") %><%= image_tag("classicons/Warlock_Destro.jpg") %><p></li>
		<li><p style="color:#bd9468">Warrior<p><p><%= image_tag("classicons/Warrior_Arms.jpg") %><%= image_tag("classicons/Warrior_Fury.jpg") %><%= image_tag("classicons/Warrior_Prot.jpg") %><p></li>
	</ul>

	<a href="/forums/applications">Apply</a>

	<!-- <h2 class="edit_h2" style="border-color: black">Recent Forum Topics</h2> -->
	<%# Forem::Topic::all.each do |topic| %>
		<%#= link_to topic.subject %>
	
	<%# end %>
</div>